body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(230, 230, 230);
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#sign-out-hover:hover {
  color: whitesmoke;
  background-color: #dc3545;
}

/* Hover for profile buttons from gray to blue  */
.dropdown-menu a:hover {
  color: whitesmoke;
  background-color: #007bff;
}

/* sidebar */
.sidebar-category,
#sidebar-toggler {
  color: lightgray;
}

.sidebar-category:hover,
#sidebar-toggler:hover {
  color: rgb(160, 160, 160);
}

.sidebar-subcategory {
  color: rgb(160, 160, 160);
}

.sidebar > ul > li > a:hover {
  color: lightgray;
}

.sidebar > button {
  max-width: 250px;
}

.search-btn {
  min-width: 120px;
}

.warehouse-wrapper {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.action-icon {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  /* Centering navbar items when collapse */

  .dropdown-menu {
    text-align: center;
  }

  /* Sidebar layout */
  .warehouse-wrapper {
    height: auto;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
